[Desktop Entry]
Name=JustTheme
GenericName=JustTheme
Comment=Set the theme according to the daytime
Comment[it]=Imposta il tema in base all'ora del giorno
Categories=GNOME;
Exec=sh -c "$HOME/.JustTheme.sh"
Icon=application-x-executable
Type=Application
