[Desktop Entry]
Comment=Set the theme according to the daytime
Comment[it]=Imposta il tema in base all'ora del giorno
Encoding=UTF-8
Exec=~/.JustTheme.sh
GenericName=JustTheme
Icon=application-x-executable
Name=JustTheme
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
